/* Global changes*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1370px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}